---
import Card from "../components/Card.astro";
import Flexboxexample from "../components/Flexboxexample.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";

---

<DefaultLayout>

  <h1>About</h1>
  <Card title="Card1" text="card text 1" />
  <Card title="Card2" text="card text 1" />
  <Card title="Card3" text="card text 1" />
  
  <Flexboxexample />
  
</DefaultLayout>
  